.super-frame {
  margin-top: 6%;
  width: 40%;
  margin-left: 29%;
  position: relative;
}

.frame {
  position: relative;
}

.c-font p {
  font-weight: bold;
  font-size: 25px;
}

h1 {
  text-align: center;
}

button {
  padding: 10px;
  background-color: #2BB25C;
  border: 2px solid #2BB25C;
  font-weight: bold;
  border-radius: 5px;
}

.start-button{
  margin-left: 45%;
}

.inputIn {
  padding: 10px;
}

text {
  font-weight: bold;
}

.start-button {
  position: center;
  
}

.font {
  position: relative;
}
