.super-frame {
  margin-top: 6%;
  width: 40%;
  margin-left: 29%;
  position: relative;
}

.frame {
  position: relative;
}

.c-font p {
  font-weight: bold;
  font-size: 25px;
}

h1 {
  text-align: center;
}

button {
  padding: 10px;
  background-color: #2BB25C;
  border: 2px solid #2BB25C;
  font-weight: bold;
  border-radius: 5px;
}

.start-button{
  margin-left: 45%;
}

.inputIn {
  padding: 10px;
}

text {
  font-weight: bold;
}

.start-button {
  position: center;
  
}

.font {
  position: relative;
}

#begone fieldset {
  border: none;
  position: relative;
}

#begone fieldset button {
  margin-bottom: 0px;
  margin-left: 10px;
  width: 100px;
  position: absolute;
}

#inpKey, #inpValue {
  padding: 7px;
  border-radius: 5px;
  border: 2px solid #2BB25C;
}

.score-keeper fieldset {
  border: none;
}

#btnView {
  margin-left: -280px;
  margin-top: -250px;
  position: absolute;
}

#IsOutput {
  position: relative;
  margin-left: -290px;
  margin-top: -200px;
}

@media screen and (max-width: 768px) {

  .super-frame {
    margin-left: 0%;
    width: 100%;
  }

  .super-frame h1 {
    font-size: 500%;
  }

  .c-font {
    margin-top: -5%;
  }

  .c-font p {
    font-size: 200%;
  }

  button {
    padding: 2%;
    font-size: 100%;
  }

  .start-button {
    margin-left: 25%;
    padding: 10%;
    width: 50%;
    font-size: 500%;
  }

  text {
    font-size: 150%;
  }

  .display-number {
    font-size: 95%;
  }

  .begone {
    font-size: 135%;
  }
}

@media screen and (max-width: 540px) {

  .super-frame h1 {
    font-size: 400%; 
  }

  .c-font {
    text-align: center; 
  }

  .start-button {
    margin-left: 25%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 414px) {

  .super-frame {
    width: 95%;
  }

  .c-font {
    margin-top: -12%;
  }

  .start-button {
    margin-top: 7%;
  }

  .begone button {
    margin-top: 3%;
  }
}

@media screen and (max-width: 375px) {

  .start-button {
    width: 65%;
    margin-left: 18%;
  }
}
